canvas {
    display: block;
    background: url(../media/sprite_greywall.png);
    background-size: 32px 32px;
    margin: 0 auto;
}
section#container {
    width: 42vw;
}
@media only screen and (max-width: 600px) {
    section#container {
      width: auto;
    }
  }