body {
    background: #200650;
    font-family: sans-serif;
    margin: 0;
}
h2 {
    color: #e00;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    font-size: 28pt;
}

section#container {
    border-radius: 10px;
    background: #03a42de0;
    padding: 5px;
    width: 43vw;
    margin: 0 auto;
}

nav#links {
    border-radius: 10px;
    padding: 15px;
}

nav#links > ul {
    list-style-type: none;
    padding-inline-start: 0;
}

nav#links > ul > li {
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    background: #43e71f80;
    margin: 0 auto 10px auto;
    max-width: 400px;
}

p#box {
    background: #43e71f80;
    border-radius: 10px;
    padding: 10px;
    font-size: 16pt;
    max-width: 400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 182);
}

a:hover {
    color: rgb(219, 18, 18);
}

a.back {
    font-size: 16pt;
}

a#readme {
    font-size: 20pt;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
  section#container {
    width: auto;
  }
  p#box {
      width: auto;
  }
}